<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/flex"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flex"
        android:supportsRtl="true"
        android:theme="@style/Theme.GimnasioFlex"
        tools:targetApi="31">
        <activity
            android:name=".activities.MenuCuotasActivity"
            android:theme="@style/TemaDialogo"
            android:exported="false" />
        <activity
            android:name=".activities.ManejarCuotasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MostrarMasInformacionActivity"
            android:label=""
            android:parentActivityName=".activities.ListarAlumnosActivity"
            android:theme="@style/TemaDialogo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListarAlumnosActivity" />
        </activity>
        <activity
            android:name=".activities.ListarAlumnosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AgregarAlumnoActivity"
            android:label=""
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TemaDialogo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>